.item {
  border: solid 0.15px #ececec;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.item:hover {
  border: solid 0.15px #c2c2c2;
  transition: 0.2s ease-out;
}
*::-webkit-scrollbar {
  width: 5px;
  height:5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
  margin: 5px;
  margin-top: 70px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(165, 164, 164, 0.76);
  border-radius: 20px;
}