.searchInputs {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(238, 43, 105, 0.4);
  border-radius: 20px;
}

.search input {
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 10px;
  height: 20px;
  width: 300px;
  border-radius: 20px;
}

.searchIcon {
  width: 50px;
  height: 40px;
  background-color: transparent;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

.dataResult {
    margin-left: 40px;
  position: absolute;
  width: 300px;
  max-height: 400px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}


.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
